<fieldset>
  <div class="control-group">
    <%= f.label :name %>
    <div class="controls"><%= f.text_field :name %></div>
  </div>

	<div class="control-group">
	  <%= f.label :email_address %>
    <div class="controls"><%= f.text_field :email_address %></div>
  </div>

  <div class="control-group">
    <%= f.label :password %>
    <div class="controls"><%= f.password_field :password %></div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation %>
    <div class="controls"><%= f.password_field :password_confirmation %></div>
  </div>
</fieldset>